<template name="footer">

  <footer class="footer">

    <div class="container">

      <div class="row">

        <div class="twelve columns">

          <div class="text-center">

            Made with <i class="fa fa-heart" style="color:red"></i> by the <a href="https://hthcoin.world" target="_blank"><span style="color:gold">HTH Founders</span></a> for our <a href="https://discord.gg/r7zKfy5" target="_blank"><span style="color:gold">Community</span></a>
          </div>
          <div class="text-center">
            Join us on our <a href="https://discord.gg/r7zKfy5" target="_blank"><span  style="color:gold">Discord</span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
