<template name="jobBoard">

  {{#if showAllJobs}}

    <div class="row">

      <div class="twelve columns">
  
        <button id="postJobButton"  style="color: gold; background-color: #34bcaa" class="button-primary">Post Job</button>
    
        <form data-id="search-jobs-form">

          <input type="text" class="u-full-width" placeholder="Search jobs..." data-id="search-jobs-query">

        </form>

      </div>

    </div>

    <div class="row">

      <div class="twelve columns">

        {{#each jobs}}

          <div id="{{_id}}" class="small-profile" style="color:gold">
            <b>{{title}}</b> <br/>

          <span style="color:gold">  {{location}}</span> <br/>

           <span style="color:gold"> {{formatDate createdOn}}

</span>            {{#if isAuthor author}}

             <button class="u-pull-right no-button" data-id="remove-job">

                <i class="fa fa-trash" style="color:gold"></i>
              </button> 

              <button class="u-pull-right no-button" data-id="edit-job">
 
               <i class="fa fa-pencil" style="color:#34bcaa"></i>
              </button>

            {{/if}}

          </div>

        {{/each}}
 
       {{#if Template.subscriptionsReady}}
 
         {{#unless instance.jobsCount.get}}

            <div class="alert info">There are no matching jobs to display</div>

          {{/unless}}

          {{#if hasMoreJobs}}

            <button class="u-full-width" data-id="load-more">Load more</button>

          {{/if}}
 
       {{else}}

          <div class="text-center" style="color:gold">Loading jobs...</div>
        {{/if}}
   
      </div>

    </div>

  {{else}}

    {{#if showSingleJob}}

      {{> singleJob}}

    {{else}}

      {{> addJob}}

    {{/if}}
 
 {{/if}}
 
</template>


<template name="singleJob">

  <button class="allJobsButton" style="color: gold; background-color: #34bcaa">All Jobs</button>

  {{#with getSingleJob}}

    <h3><span style="color:#34bcaa">{{title}}</span></h3>
 
   <span style="color:#34bcaa">{{schedule}}</span> <br/>
 
   <span style="color:#34bcaa">Date posted: {{formatDate createdOn}}</span> <br/>

   <span style="color:#34bcaa"> Location: {{location}} </span><br/>
<br/>
  <span style="color:#34bcaa">  <b>Description:</b></span> <br/>

   <span style="color:#34bcaa"> {{description}}</span> <br/><br/>

  <span style="color:#34bcaa">  <b>Qualifications:</b></span> <br/>
  
 <span style="color:#34bcaa"> {{qualifications}}</span> <br/><br/>
 
  <span style="color:#34bcaa"> <b>Responsibilities:</b> <br/>
 
   {{responsibilities}} </span><br/><br/>
 
   {{#if notAuthor author}}
     <button id="applyNowButton" class="button-primary">I'm Interested!</button>

    {{/if}}

  {{/with}}

</template>


<template name="addJob">

  <button class="allJobsButton" style="color: gold; background-color: #34bcaa">All Jobs</button>

  <form data-id="addJob-form">

    <textarea class="u-full-width addJob-single-line" rows="1" placeholder="Title" data-id="addJob-title">
</textarea>

    <textarea class="u-full-width addJob-single-line" rows="1" placeholder="Location" data-id="addJob-location">
</textarea>

    <select class="addJob-single-line" data-id="addJob-schedule">
 
     <option value="Part Time">Part Time</option>

      <option value="Full Time">Full Time</option>

      <option value="Contract">Contract</option>

      <option value="Other">Other</option>

    </select>
 
   <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Description" data-id="addJob-description">
</textarea>

    <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Responsibilities" data-id="addJob-responsibilities">
</textarea>

    <textarea class="u-full-width addJob-multi-line" rows="1" placeholder="Qualifications" data-id="addJob-qualifications">
</textarea> 

    
    <div class="u-full-width">

      <span style="color:gold;">Interested candidates should:</span>&nbsp;

      <select class="addJob-single-line" data-id="addJob-interestedBehavior">

        <option value="directMessage">Send direct message</option>
  
        <option value="goToLink">Proceed to external link</option>

      </select>

    </div>
 
   {{#if showExternalLink}}
 
     <textarea class="u-full-width addJob-single-line" rows="1" placeholder="External Link" data-id="addJob-externalLink">
</textarea>

    {{/if}}
 
   <input type="submit" class="button-primary u-pull-right" data-id="addJob-submit" style="color: gold; background-color: #34bcaa" value="Post">

  </form> 

</template>
